name: Python Tests

on:
  # push:
  #   branches:
  #     - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12.3'

    - name: Run tests
      run: python -m unittest discover -s python/LinkedList/singly -p 'list_test.py'
